<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shop</title>
</head>
<body>
    <h1>Obst-Shop</h1>
   <table>
        <tr>
            <th>Produkt</th>
            <th>Preis</th>
        </tr>
        {% for id, produkt in produkte.items() %}
        <tr>
            <td><a href="/produkt/{{ id }}">{{ produkt.name }}</a></td>
            <td>{{ produkt.preis }} €</td>
        </tr>
    {% endfor %}
    </table>

</body>
</html>
 
