<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/login" method="post">
        <table>
            <tr><td>E-Mail: </td><td><input type="text" name="email" placeholder="E-Mail"></td></tr>
            <tr><td>Passwort: </td><td><input type="password" name="password" placeholder="Password"></td></tr>
            <tr><td /><td style="text-align: right"><input type="submit" value="Absenden"></td></tr>
        </table>
    </form>

</body>
</html>
